body{
    background-color: #1e1e1e;
}

h1{
    color: #f1efc7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 0.25fr 2fr 0.25fr;
    gap: 2rem;
    margin: 0 20%;  
    padding: 0;
}


p{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

h2{ 
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

